h1{
    color: blue;
    text-shadow: 10px 10px 10px #000;
}
h2{
    color: darkmagenta;
    text-shadow: 10px 10px 10px #000;
}
em{
    color: red;
}
h3{
    color: green;
    text-shadow: 10px 10px 10px #000;
}
table{
    width: 400px;
    height: 10px;
    margin: 3px;


}
body{
    background-color: #ffffff;
}